[submodule "external/tucker-octree"]
	path = external/tucker-octree
	url = https://github.com/cschpc/tucker-octree.git
[submodule "external/zfp"]
	path = external/zfp
	url = https://github.com/LLNL/zfp.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/fmihpc/asterix.git
