[submodule "rust/external/zfp"]
	path = rust/external/zfp
	url = https://github.com/LLNL/zfp.git
[submodule "rust/external/asterix"]
	path = rust/external/asterix
	url = https://github.com/kstppd/asterix.git
[submodule "rust/external/tucker-octree"]
	path = rust/external/tucker-octree
	url = https://github.com/cschpc/tucker-octree.git
[submodule "rust/external/eigen"]
	path = rust/external/eigen
	url = https://github.com/libigl/eigen.git
